@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400&family=Oswald:wght@300&display=swap');

body {
	font-family: 'Noto Sans JP', sans-serif;
	padding: 0 2%;
	margin: 0;
	color: #fff;
}

body {
	background-color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between; 
	align-items: center;
	position: sticky;
	top: 0;
    color: #000;
}

nav ul {
	display: flex;
	list-style-type: none;
    margin-left: 35%;
    font-size: 20px;
    color: #000;
}

nav ul li {
	margin-left: 35px;
	cursor: pointer;
	margin-top: -120px;
    color: #000;
}

li a {
	margin-left: 80px;
	color:#000;
}

nav .profile img {
	width: 250px;
	height: 200px;
	border-radius: 100%;
    margin-top: -25%;
}

.contact {
	margin-top: 10%;
	margin-bottom: 20%;
	margin-left: 38%;
    color: #000;
}

footer {
	margin-top: 5%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 10px;
	background-color: #000;
	color: white;
}

footer .colonne p:hover {
	color: #fff;
}