@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400&family=Oswald:wght@300&display=swap');

body {
	font-family: 'Noto Sans JP', sans-serif;
	padding: 0 2%;
	margin: 0;
	color: #fff;
}

body {
	background-color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	position: sticky;
	top: 0;
}
nav ul {
	display: flex;
	list-style-type: none;
    margin-left: 35%;
    font-size: 20px;
}
nav ul li {
	margin-left: 35px;
	cursor: pointer;
	margin-top: -120px;
}

nav .profile img {
	width: 250px;
	height: 200px;
	border-radius: 100%;
	margin-top: 10%;
}

.page-content img {
	width: 950px;
	height: 800px;
	margin-top: -19%;
    margin-left: 20%;
}

li a {
	margin-left: 80px;
	color:#000;
}

.page-content {
	margin: 4%;
}
.page-content header {
	margin-top: 5%;
	max-width: 80%;
	color:#000;
	margin-left: 5%;
}
.page-content header h1 {
	margin: 0;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-size: 3vw;
	color:#000;
    font-size: 35px;
	margin-bottom: 20%;
}

footer {
	margin-top: 5%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 10px;
	background-color: #000;
	color: white;
}
footer .colonne p {
	font-size: 12px;
	color: #ccc;
	cursor: pointer;
}
footer .colonne p:hover {
	color: #fff;
}